openapi: 3.0.1
info:
  title: IRIS APIs
  version: 1.0.0
servers:
- url: https://apigatewayqa.adient.com/iris/v1
  description: Quality
- url: https://apigateway.adient.com/iris/v1
  description: Production
paths:
  /getExtrSuppContactList:
    get:
      tags:
      - Get Supplier Contacts
      summary: Get supplier contact details
      description: Get supplier contact details
      operationId: getExtrSuppContactList
      parameters:
      - name: supplierCd
        in: query
        description: Supplier Number
        required: true
        schema:
          type: number
          example: 300253
      - name: division
        in: query
        description: Adient Division
        required: true
        schema:
          type: string
          example: AE
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                minItems: 1
                uniqueItems: true
                type: array
                description: ""
                items:
                  required:
                  - contactName
                  - contactTtl
                  - emailAddress
                  type: object
                  properties:
                    contactName:
                      type: string
                      example: Name
                    contactTtl:
                      type: string
                      example: Title
                    emailAddress:
                      type: string
                      example: email@email.com
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ""
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header